.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #0000000d;
  width: 360px;
  margin: 160px auto auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

.header {
  font-size: 30px;
  font-weight: bold;
  padding: 16px;
}
